

<script>
  // デフォルト言語（日本語）にリダイレクト
  window.location.href = './getting_started/about_rhodonite';
</script>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <a href="./getting_started/about_rhodonite">Redirecting...</a>
</div>