---
import Layout from '../../layouts/Layout.astro';
import DocsLayout from './DocsLayout';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <DocsLayout>
    <div class="content-wrapper">
      <slot />
    </div>
  </DocsLayout>
</Layout>
