---
import Layout from '../../layouts/Layout.astro';
import DocsLayout from './DocsLayout';
import HeadingAnchorLocalization from '../HeadingAnchorLocalization';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <DocsLayout client:only="react">
    <div class="content-wrapper">
      <HeadingAnchorLocalization client:only="react">
        <slot />
      </HeadingAnchorLocalization>
    </div>
  </DocsLayout>
</Layout>
