---
import Layout from '../../layouts/Layout.astro';
import TutorialsLayout from './TutorialsLayout';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <TutorialsLayout>
    <div class="content-wrapper">
      <slot />
    </div>
  </TutorialsLayout>
</Layout>
