

<script>
  // デフォルト言語（日本語）にリダイレクト
  window.location.href = './basic/display_geometries';
</script>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <a href="./basic/display_geometries">Redirecting...</a>
</div>
